{#
 # This file is part of MedShakeEHR.
 #
 # Copyright (c) 2017
 # fr33z00 <https://github.com/fr33z00>
 # http://www.medshake.net
 #
 # MedShakeEHR is free software: you can redistribute it and/or modify
 # it under the terms of the GNU General Public License as published by
 # the Free Software Foundation, either version 3 of the License, or
 # any later version.
 #
 # MedShakeEHR is distributed in the hope that it will be useful,
 # but WITHOUT ANY WARRANTY; without even the implied warranty of
 # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 # GNU General Public License for more details.
 #
 # You should have received a copy of the GNU General Public License
 # along with MedShakeEHR.  If not, see <http://www.gnu.org/licenses/>.
 #/

/##
 # Template > models4print : compte-rendu de consultation
 #
 # @author Michaël Val
 # @contrib fr33z00 <https://github.com/fr33z00>
  # @contrib Bertrand Boutillier <b.boutillier@gmail.com>
 #}

{% set tag = page.courrier %}

<p style="text-align : right;">Paris, le {{ tag.date|date("d/m/Y") }}</p>

<h2 style="text-align : center">{{ tag.identiteCompleteTitreLongDdn  }}</h2>
<h2>Consultation du jour</h2>
{% if tag.examenDuJour != '' %}
  <h3>Diagnostic et traitement</h3>
  <p>{{ tag.examenDuJour }}</p>
{% endif %}

{% if tag.osteoAnamnese != '' %}
  <h3>Anamnèse</h3>
  <p>{{ tag.osteoAnamnese }}</p>
{% endif %}

{% if tag.osteoObservation != '' %}
  <h3>Tests</h3>
  <p>{{ tag.osteoObservation }}</p>
{% endif %}

{% if tag.osteoTests != '' %}
  <h3>Tests</h3>
  <p>{{ tag.osteoTests }}</p>
{% endif %}

{% set zones_v2={'osteoC0': 'C0', 'osteoC1': 'C1', 'osteoC2': 'C2', 'osteoC3': 'C3', 'osteoC4': 'C4', 'osteoC5': 'C5', 'osteoC6': 'C6', 'osteoC7': 'C7', 'osteoCoccyx': 'Coccyx', 'osteoK1_Gch': 'K1 Gch', 'osteoK1_Drt': 'K1 Drt', 'osteoK10_Gch': 'K10 Gch', 'osteoK10_Drt': 'K10 Drt', 'osteoK11_Gch': 'K11 Gch', 'osteoK11_Drt': 'K11 Drt', 'osteoK12_Gch': 'K12 Gch', 'osteoK12_Drt': 'K12 Drt', 'osteoK2_Gch': 'K2 Gch', 'osteoK2_Drt': 'K2 Drt', 'osteoK3_Gch': 'K3 Gch', 'osteoK3_Drt': 'K3 Drt', 'osteoK4_Gch': 'K4 Gch', 'osteoK4_Drt': 'K4 Drt', 'osteoK5_Gch': 'K5 Gch', 'osteoK5_Drt': 'K5 Drt', 'osteoK6_Gch': 'K6 Gch', 'osteoK6_Drt': 'K6 Drt', 'osteoK7_Gch': 'K7 Gch', 'osteoK7_Drt': 'K7 Drt', 'osteoK8_Gch': 'K8 Gch', 'osteoK8_Drt': 'K8 Drt', 'osteoK9_Gch': 'K9 Gch', 'osteoK9_Drt': 'K9 Drt', 'osteoL1': 'L1', 'osteoL2': 'L2', 'osteoL3': 'L3', 'osteoL4': 'L4', 'osteoL5': 'L5', 'osteoIlium_Gch': 'Ilium Gch', 'osteoIlium_Drt': 'Ilium Drt', 'osteoPatella_Gch': 'Patella Gch', 'osteoPatella_Drt': 'Patella Drt', 'osteoSacrum': 'Sacrum', 'osteoScapula_Gch': 'Scapula Gch', 'osteoScapula_Drt': 'Scapula Drt', 'osteoT1': 'T1', 'osteoT10': 'T10', 'osteoT11': 'T11', 'osteoT12': 'T12', 'osteoT2': 'T2', 'osteoT3': 'T3', 'osteoT4': 'T4', 'osteoT5': 'T5', 'osteoT6': 'T6', 'osteoT7': 'T7', 'osteoT8': 'T8', 'osteoT9': 'T9', 'osteoTalus_Gch': 'Talus Gch', 'osteoTalus_Drt': 'Talus Drt', 'osteoTibia_Gch': 'Tibia Gch', 'osteoTibia_Drt': 'Tibia Drt'} %}

{% set mains={'osteoCapitatum_Gch': 'Capitatum Gch', 'osteoCapitatum_Drt': 'Capitatum Drt', 'osteoHamatum_Gch': 'Hamatum Gch', 'osteoHamatum_Drt': 'Hamatum Drt', 'osteoLunatum_Gch': 'Lunatum Gch', 'osteoLunatum_Drt': 'Lunatum Drt', 'osteoMetacarpe_I_Gch': 'Métacarpe I Gch', 'osteoMetacarpe_I_Drt': 'Métacarpe I Drt', 'osteoMetacarpe_II_Gch': 'Métacarpe II Gch', 'osteoMetacarpe_II_Drt': 'Métacarpe II Drt', 'osteoMetacarpe_III_Gch': 'Métacarpe III Gch', 'osteoMetacarpe_III_Drt': 'Métacarpe III Drt', 'osteoMetacarpe_IV_Gch': 'Métacarpe IV Gch', 'osteoMetacarpe_IV_Drt': 'Métacarpe IV Drt', 'osteoMetacarpe_V_Gch': 'Métacarpe V Gch', 'osteoMetacarpe_V_Drt': 'Métacarpe V Drt', 'osteoP1_I_Gch': 'P1 I Gch', 'osteoP1_I_Drt': 'P1 I Drt', 'osteoP1_II_Gch': 'P1 II Gch', 'osteoP1_II_Drt': 'P1 II Drt', 'osteoP1_III_Gch': 'P1 III Gch', 'osteoP1_III_Drt': 'P1 III Drt', 'osteoP1_IV_Gch': 'P1 IV Gch', 'osteoP1_IV_Drt': 'P1 IV Drt', 'osteoP1_V_Gch': 'P1 V Gch', 'osteoP1_V_Drt': 'P1 V Drt', 'osteoP2_I_Gch': 'P2 I Gch', 'osteoP2_I_Drt': 'P2 I Drt', 'osteoP2_II_Gch': 'P2 II Gch', 'osteoP2_II_Drt': 'P2 II Drt', 'osteoP2_III_Gch': 'P2 III Gch', 'osteoP2_III_Drt': 'P2 III Drt', 'osteoP2_IV_Gch': 'P2 IV Gch', 'osteoP2_IV_Drt': 'P2 IV Drt', 'osteoP2_V_Gch': 'P2 V Gch', 'osteoP2_V_Drt': 'P2 V Drt', 'osteoP3_I_Gch': 'P3 I Gch', 'osteoP3_I_Drt': 'P3 I Drt', 'osteoP3_II_Gch': 'P3 II Gch', 'osteoP3_II_Drt': 'P3 II Drt', 'osteoP3_III_Gch': 'P3 III Gch', 'osteoP3_III_Drt': 'P3 III Drt', 'osteoP3_IV_Gch': 'P3 IV Gch', 'osteoP3_IV_Drt': 'P3 IV Drt', 'osteoP3_V_Gch': 'P3 V Gch', 'osteoP3_V_Drt': 'P3 V Drt', 'osteoPisiforme_Gch': 'Pisiforme Gch', 'osteoPisiforme_Drt': 'Pisiforme Drt', 'osteoScaphoide_Gch': 'Scaphoïde Gch', 'osteoScaphoide_Drt': 'Scaphoïde Drt', 'osteoTrapezium_Gch': 'Trapezium Gch', 'osteoTrapezium_Drt': 'Trapezium Drt', 'osteoTrapezoide_Gch': 'Trapézoïde Gch', 'osteoTrapezoide_Drt': 'Trapézoïde Drt', 'osteoTriquetrum_Gch': 'Triquetrum Gch', 'osteoTriquetrum_Drt': 'Triquetrum Drt', 'osteoP1_IV_Gch': 'P1 IV Gch', 'osteoP1_IV_Drt': 'P1 IV Drt', 'osteoP1_V_Gch': 'P1 V Gch', 'osteoP1_V_Drt': 'P1 V Drt', 'osteoP2_I_Gch': 'P2 I Gch', 'osteoP2_I_Drt': 'P2 I Drt', 'osteoP2_II_Gch': 'P2 II Gch', 'osteoP2_II_Drt': 'P2 II Drt', 'osteoP2_III_Gch': 'P2 III Gch', 'osteoP2_III_Drt': 'P2 III Drt', 'osteoP2_IV_Gch': 'P2 IV Gch', 'osteoP2_IV_Drt': 'P2 IV Drt', 'osteoP2_V_Gch': 'P2 V Gch', 'osteoP2_V_Drt': 'P2 V Drt', 'osteoP3_II_Gch': 'P3 II Gch', 'osteoP3_II_Drt': 'P3 II Drt', 'osteoP3_III_Gch': 'P3 III Gch', 'osteoP3_III_Drt': 'P3 III Drt', 'osteoP3_IV_Gch': 'P3 IV Gch', 'osteoP3_IV_Drt': 'P3 IV Drt', 'osteoP3_V_Gch': 'P3 V Gch', 'osteoP3_V_Drt': 'P3 V Drt', 'osteoPisiforme_Gch': 'Pisiforme Gch', 'osteoPisiforme_Drt': 'Pisiforme Drt', 'osteoScaphoide_Gch': 'Scaphoïde Gch', 'osteoScaphoide_Drt': 'Scaphoïde Drt', 'osteoTrapezium_Gch': 'Trapezium Gch', 'osteoTrapezium_Drt': 'Trapezium Drt', 'osteoTrapezoide_Gch': 'Trapézoïde Gch', 'osteoTrapezoide_Drt': 'Trapézoïde Drt', 'osteoTriquetrum_Gch': 'Triquetrum Gch', 'osteoTriquetrum_Drt': 'Triquetrum Drt'} %}

{% set pieds={'osteo_p1_I_Gch': 'p1 I Gch', 'osteo_p1_I_Drt': 'p1 I Drt', 'osteo_p1_II_Gch': 'p1 II Gch', 'osteo_p1_II_Drt': 'p1 II Drt', 'osteo_p1_III_Gch': 'p1 III Gch', 'osteo_p1_III_Drt': 'p1 III Drt', 'osteo_p1_IV_Gch': 'p1 IV Gch', 'osteo_p1_IV_Drt': 'p1 IV Drt', 'osteo_p1_V_Gch': 'p1 V Gch', 'osteo_p1_V_Drt': 'p1 V Drt', 'osteo_p2_I_Gch': 'p2 I Gch', 'osteo_p2_I_Drt': 'p2 I Drt', 'osteo_p2_II_Gch': 'p2 II Gch', 'osteo_p2_II_Drt': 'p2 II Drt', 'osteo_p2_III_Gch': 'p2 III Gch', 'osteo_p2_III_Drt': 'p2 III Drt', 'osteo_p2_IV_Gch': 'p2 IV Gch', 'osteo_p2_IV_Drt': 'p2 IV Drt', 'osteo_p2_V_Gch': 'p2 V Gch', 'osteo_p2_V_Drt': 'p2 V Drt', 'osteoCalcaneum_Gch': 'Calcanéum Gch', 'osteoCalcaneum_Drt': 'Calcanéum Drt', 'osteoCuboide_Gch': 'Cuboïde Gch', 'osteoCuboide_Drt': 'Cuboïde Drt', 'osteoCuneiforme_I_Gch': 'Cunéïforme I Gch', 'osteoCuneiforme_I_Drt': 'Cunéïforme I Drt', 'osteoCuneiforme_II_Gch': 'Cunéïforme II Gch', 'osteoCuneiforme_II_Drt': 'Cunéïforme II Drt', 'osteoCuneiforme_III_Gch': 'Cunéïforme III Gch', 'osteoCuneiforme_III_Drt': 'Cunéïforme III Drt', 'osteoMetatarse_I_Gch': 'Métatarse I Gch', 'osteoMetatarse_I_Drt': 'Métatarse I Drt', 'osteoMetatarse_II_Gch': 'Métatarse II Gch', 'osteoMetatarse_II_Drt': 'Métatarse II Drt', 'osteoMetatarse_III_Gch': 'Métatarse III Gch', 'osteoMetatarse_III_Drt': 'Métatarse III Drt', 'osteoMetatarse_IV_Gch': 'Métatarse IV Gch', 'osteoMetatarse_IV_Drt': 'Métatarse IV Drt', 'osteoMetatarse_V_Gch': 'Métatarse V Gch', 'osteoMetatarse_V_Drt': 'Métatarse V Drt', 'osteoNaviculaire_Gch': 'Naviculaire Gch', 'osteoNaviculaire_Drt': 'Naviculaire Drt'} %}

{% set articulations={'osteoAcromio_claviculaire_Gch': 'Acromio-claviculaire Gch', 'osteoAcromio_claviculaire_Drt': 'Acromio-claviculaire Drt', 'osteoATM_Gch': 'ATM Gch', 'osteoATM_Drt': 'ATM Drt', 'osteoFemoro_acetabulaire_Gch': 'Fémoro-acétabulaire Gch', 'osteoFemoro_acetabulaire_Drt': 'Fémoro-acétabulaire Drt', 'osteoGleno_humerale_Gch': 'Gléno-humérale Gch', 'osteoGleno_humerale_Drt': 'Gléno-humérale Drt', 'osteoMetatarso_phalangienne_Gch': 'Métatarso-phalangienne Gch', 'osteoMetatarso_phalangienne_Drt': 'Métatarso-phalangienne Drt', 'osteoSterno_claviculaire_Gch': 'Sterno-claviculaire Gch', 'osteoSterno_claviculaire_Drt': 'Sterno-claviculaire Drt', 'osteoStyloide_radiale_Gch': 'Styloïde radiale Gch', 'osteoStyloide_radiale_Drt': 'Styloïde radiale Drt', 'osteoSymphyse': 'Symphyse', 'osteoTete_radiale_Gch': 'Tête radiale Gch', 'osteoTete_radiale_Drt': 'Tête radiale Drt', 'osteoTibio_fibulaire_distale_Gch': 'Tibio-fibulaire distale Gch', 'osteoTibio_fibulaire_distale_Drt': 'Tibio-fibulaire distale Drt', 'osteoTibio_fibulaire_prox_Gch': 'Tibio-fibulaire prox Gch', 'osteoTibio_fibulaire_prox_Drt': 'Tibio-fibulaire prox Drt', 'osteoUlna_distal_Gch': 'Ulna distal Gch', 'osteoUlna_distal_Drt': 'Ulna distal Drt', 'osteoUlna_proximal_Gch': 'Ulna proximal Gch', 'osteoUlna_proximal_Drt': 'Ulna proximal Drt'} %}

{% set sZones = [] %}
{% set sMains = [] %}
{% set sPieds = [] %}
{% set sArticulations = [] %}
{% for k,v in tag %}
  {% if k in zones_v2|keys and v == 'true' %}
    {% set sZones = sZones|merge(["#{zones_v2[k]}"]) %}
  {% elseif k in zones_v2|keys and v != '' %}
    {% set sZones = sZones|merge(["#{zones_v2[k]} : #{v}"]) %}
  {% elseif k in mains|keys and v == 'true' %}
    {% set sMains = sMains|merge(["#{mains[k]}"]) %}
  {% elseif k in pieds|keys and v == 'true' %}
    {% set sPieds = sPieds|merge(["#{pieds[k]}"]) %}
  {% elseif k in articulations|keys and v == 'true' %}
    {% set sArticulations = sArticulations|merge(["#{articulations[k]}"]) %}
  {% elseif k in articulations|keys and v != '' %}
    {% set sArticulations = sArticulations|merge(["#{articulations[k]}: #{v}"]) %}
  {% endif %}
{% endfor %}

{% if sZones|length > 0 or sMains|length > 0 or sPieds|length > 0 or sArticulations|length > 0 %}
  <h4>Zones des dysfonctions ostéopathiques</h4>
  {% if sZones|length > 0 %}
    {% for v in sZones %}
      {{ v }}<br>
    {% endfor %}
  {% endif %}
  {% if sMains|length > 0 %}
    <strong>Mains:</strong><br>
    {% for v in sMains %}
      {{ v }}<br>
    {% endfor %}
  {% endif %}
  {% if sPieds|length > 0 %}
    <strong>Pieds:</strong><br>
    {% for v in sPieds %}
      {{ v }}<br>
    {% endfor %}
  {% endif %}
  {% if sArticulations|length > 0 %}
    <strong>Articulations:</strong><br>
    {% for v in sArticulations %}
      {{ v }}<br>
    {% endfor %}
  {% endif %}
{% endif %}

{% if tag.osteoDiagnostic != '' %}
  <h3>Diagnostic Ostéopathique</h3>
  <p>{{ tag.osteoDiagnostic }}</p>
{% endif %}


{% if tag.osteoTraitement != '' %}
  <h3>Traitement</h3>
  <p>{{ tag.osteoTraitement }}</p>
{% endif %}


{% if tag.osteoNotes != '' %}
  <h4>Notes de traitement</h4>
  <p>{{ tag.osteoNotes }}</p>
{% endif %}
